


// generalStyling.scss
html {
  background-color: cadetblue;
}

.wrapper {
  width: 85%;
  background-color: bisque;
}


//  ===============================
//   ////////// ****** ///////////
//  ===============================