


// colors.scss
$redDark: #C2502E;
$redLight:#EC691B;
$tealDark: #67BDAA;
$tealLight:#A3D2BE;
$yellowDark: #FBBA28;
$yellowLight: #F8E340;
$greenDark:#A6AC23;
$greenLight:#C0C841;

$greyDarkest:#303A39;
$greyLight:#DDDAC7;

$bageBackground:#F5F3DC;