


// _index.scss
.forms {
  // to make sure .forms span 100% width of .wrapper
  width: 100%;
  p {
    text-align: center;
  }

  .avatarImageContainer {
    width: 20%;
  }
}

.aiAvatarGen {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nameInputContainer{
    width: 50%;
  }
}