html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

html {
  font-size: 125%;
  line-height: 1.15;
}

h1,
h2 {
  color: #303A39;
  font-family: "Quicksand", sans-serif;
  font-size: 2.7rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #EC691B;
}

button,
form {
  font-size: 0.9rem;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #303A39 span;
  color-color: #303A39;
}

.aiP {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

html {
  background-color: #F5F3DC;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A3D2BE;
}

.hideElement {
  display: none;
}

input,
textarea {
  padding-left: 2%;
}

button {
  background-color: #C0C841;
  padding: 0 2%;
  border: none;
  color: #303A39;
}
button:hover {
  cursor: pointer;
  background-color: #FBBA28;
  color: #EC691B;
}

.aiNameAndAvatarGen .wrapper {
  padding-top: 8%;
}

.nameInputContainer {
  padding-top: 3%;
}

.forms {
  width: 100%;
}
.forms p {
  text-align: center;
}

.aiAvatarGen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aiAvatarGen .nameInputContainer {
  width: 50%;
  display: flex;
}
.aiAvatarGen .nameInputContainer input,
.aiAvatarGen .nameInputContainer button {
  height: 50px;
}
.aiAvatarGen .nameInputContainer input {
  width: 70%;
}
.aiAvatarGen .nameInputContainer button {
  width: 30%;
  border: 1px solid #A6AC23;
}

.avatarImageContainer {
  background-color: #ffffff;
  width: 20%;
  margin-top: 8%;
  border-radius: 20px;
}

.chatStartButtonContainer {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}
.chatStartButtonContainer button {
  height: 50px;
  border: 1px solid #A6AC23;
}

.chatAndPromptHistory {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.chatAndPromptHistory .wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.chatAndPromptHistory .chatboxContainer {
  width: 80%;
  height: 85vh;
}
.chatAndPromptHistory .chatboxTopBar {
  background-color: #F5F3DC;
  display: flex;
  justify-content: flex-end;
  padding: 2% 5% 2% 5%;
}
.chatAndPromptHistory .chatboxTopBar h2 {
  width: 100%;
  text-align: left;
}
.chatAndPromptHistory .chatboxTopBar i {
  font-size: 2rem;
  margin-top: 1%;
  text-align: right;
}
.chatAndPromptHistory .resultDisplay,
.chatAndPromptHistory .resultUl {
  width: 100%;
}
.chatAndPromptHistory .resultDisplay {
  background-color: #DDDAC7;
  height: 60vh;
  padding: 5% 5% 3% 5%;
  overflow-y: auto;
}
.chatAndPromptHistory .resultUl {
  margin-top: 5%;
}
.chatAndPromptHistory p {
  margin-top: 5%;
  padding: 3% 5%;
}
.chatAndPromptHistory .aiResponseContainer {
  background-color: #ffffff;
  width: 45%;
  margin-top: 5%;
  border-radius: 15px;
  display: flex;
  padding: 3% 3%;
}
.chatAndPromptHistory .aiResponseContainer .chatboxAvatarPortraiContainer {
  background-color: #F5F3DC;
  width: 25%;
  height: 25%;
  border-radius: 15px;
}
.chatAndPromptHistory .aiResponseContainer .aiP {
  width: 60%;
  margin: 0 auto 0 3%;
  padding: 0;
  text-align: left;
}
.chatAndPromptHistory .userP {
  background-color: #67BDAA;
  width: 45%;
  margin-left: auto;
  border-radius: 15px;
  text-align: right;
}
.chatAndPromptHistory .aiP span,
.chatAndPromptHistory .userP span {
  color: #FBBA28;
}

.chatCloseButton:hover {
  cursor: pointer;
  color: #EC691B;
}

.promptTextAreaContainer {
  background-color: #F5F3DC;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.promptTextAreaContainer textarea {
  width: 64%;
  height: 60px;
  border: none;
  resize: none;
}
.promptTextAreaContainer .promptSubmit {
  background-color: #C0C841;
  width: 15%;
  height: 60px;
  border: 0;
}
.promptTextAreaContainer .promptSubmit:hover {
  cursor: pointer;
  color: #303A39;
  background-color: #A6AC23;
}

header {
  position: relative;
}
header::after {
  width: 68%;
  position: absolute;
  bottom: -3%;
  left: 16%;
  border-bottom: 1px solid #EC691B;
  content: "";
}
header .wrapper {
  padding-top: 8%;
}

footer .wrapper {
  background-color: #303A39;
  padding: 1.5% 0;
  position: relative;
}
footer .wrapper p {
  text-align: center;
  color: #F5F3DC;
}
footer .wrapper::before {
  width: 100%;
  position: absolute;
  border-top: 1px solid #EC691B;
  top: 0;
  content: "";
}

@media (max-width: 778px) {
  .aiAvatarGen .nameInputContainer {
    flex-direction: column;
  }
  .aiAvatarGen .nameInputContainer input {
    width: 100%;
  }
  .aiAvatarGen .nameInputContainer button {
    width: 100%;
  }

  .chatAndPromptHistory .aiResponseContainer,
.chatAndPromptHistory .userP {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .wrapper {
    width: 100%;
  }

  h1 {
    font-size: 2.2rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  h2 {
    font-size: 1.6rem;
    margin-right: 5%;
  }

  .aiP,
.userP,
input,
textarea {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .promptTextAreaContainer .promptSubmit {
    width: 60px;
  }
}
@media (max-width: 480px) {
  .chatAndPromptHistory .aiResponseContainer,
.chatAndPromptHistory .userP {
    width: 75%;
  }
}
@media (max-width: 480px) {
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 0.6rem;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 0.6rem;
  }
  input::placeholder,
textarea::placeholder {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */